<section class="page-section bg-primary" id="stats">
    <div class="container">
      <h2 class="text-center mt-0 text-white">Wizard Fight Stats</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-code mb-4"></i>
            <h3 class="text-white h4 mb-2">Lines of Code</h3>
            <p class="text-white-50 mb-0">{{lines}}</p>
          </div>
        </div>
        <div class="col-lg col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-code-branch mb-4"></i>
            <h3 class="text-white h4 mb-2">Git Commits</h3>
            <p class="text-white-50 mb-0">{{commits}}</p>
          </div>
        </div>
        <div class="col-lg col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-magic mb-4"></i>
            <h3 class="text-white h4 mb-2">Weapons</h3>
            <p class="text-white-50 mb-0">{{weapons}}</p>
          </div>
        </div>
        <div class="col-lg col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-hat-wizard mb-4"></i>
            <h3 class="text-white h4 mb-2">Active Items</h3>
            <p class="text-white-50 mb-0">{{actives}}</p>
          </div>
        </div>
        <div class="col-lg col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-prescription-bottle-alt mb-4"></i>
            <h3 class="text-white h4 mb-2">Passive Items</h3>
            <p class="text-white-50 mb-0">{{passives}}</p>
          </div>
        </div>
        <div class="col-lg col-md-6 text-center">
            <div class="mt-5">
              <i class="fas fa-4x fa-skull mb-4"></i>
              <h3 class="text-white h4 mb-2">Enemies</h3>
              <p class="text-white-50 mb-0">{{enemies}}</p>
            </div>
          </div>
      </div>
    </div>
  </section>
  
  <section class="page-section" id="technologies">
    <div class="container">
      <h2 class="text-center mt-0">Technologies Used</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg col-md-6 text-center">
          <div class="mt-5">
            <a href="https://www.photonengine.com/bolt"><i class="fas fa-4x fa-bolt text-primary mb-4"></i></a>
            <h3 class="h4 mb-2">Photon Bolt</h3>
            <p class="text-muted mb-0">State based networking solution.</p>
          </div>
        </div>
        <div class="col-lg col-md-6 text-center">
          <div class="mt-5">
            <a href="http://guavaman.com/projects/rewired/"><i class="fas fa-4x fa-gamepad text-primary mb-4"></i></a>
            <h3 class="h4 mb-2">Rewired</h3>
            <p class="text-muted mb-0">Advanced input system allowing for a wide range of controllers and advanced input
              options.</p>
          </div>
        </div>
      </div>
    </div>
  </section>